<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<footer  style="background-color:grey; color:white;">
    <div class="row">
    <div class="col-md-4"><p>Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Ab accusantium aut
        deserunt dolores, error, esse excepturi explicabo
        hic ipsa molestiae mollitia nisi obcaecati quis
        quod velit, voluptate voluptates voluptatibus. Quae!</p></div>
    <div class="col-md-4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus doloremque facere libero necessitatibus porro quis rem saepe suscipit tenetur. Accusantium aspernatur corporis ducimus earum molestias nisi quas quidem rerum!</p></div>
    <div class="col-md-4"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda consequatur debitis delectus dolor exercitationem, explicabo harum officia perferendis porro quo, reiciendis saepe sunt ullam, ut. Aliquid cupiditate in quaerat?</p></div>
    </div>
    <hr>
    <div>
        <p class="text-center text-bold">copyright @modcom.co.ke, &#169 2020</p>
    </div>
</footer>

</body>
</html>